apiVersion: v2

name: tum-gis-iot-stack-k8s
description: >
  Helm Chart for the TUM-GI IoT stack.
  See [CKANGELOG](https://github.com/tum-gis/tum-gis-iot-stack-k8s/blob/main/CHANGELOG.md) for changes.
type: application
home: https://github.com/tum-gis/tum-gis-iot-stack-k8s
sources:
  - https://github.com/tum-gis/tum-gis-iot-stack-k8s

kubeVersion: ">= 1.23.0"

maintainers:
  - email: b.willenborg@tum.de
    name: Bruno Willenborg
    url: https://www.asg.ed.tum.de/en/gis/our-team/staff/bruno-willenborg/

version: 0.10.1
appVersion: "2.1.4"

dependencies:
  - name: frostweb
    version: "*"
    condition: frostweb.enabled
  - name: frostdb
    version: "*"
    condition: frostdb.enabled
  - name: grafana
    version: "*"
    condition: grafana.enabled
  - name: nodered
    version: "*"
    condition: nodered.enabled
  - name: certIssuer
    version: "*"
    condition: certIssuer.enabled
  - name: caddy
    version: "*"
    condition: caddy.enabled
  - name: ingress-nginx
    alias: ingress-nginx
    condition: ingress-nginx.enabled
    version: "~4.4.0"
    repository: https://kubernetes.github.io/ingress-nginx
  - name: cert-manager
    alias: cert-manager
    condition: cert-manager.enabled
    version: "~1.11.0"
    repository: https://charts.jetstack.io
  - name: postgresql-ha
    alias: postgresql-ha
    condition: postgresql-ha.enabled
    version: ">=10.0.0"
    repository: https://charts.bitnami.com/bitnami
